/* Całość projektu */
:root{
    background-image: url('https://images.unsplash.com/photo-1544914379-806667cd9489?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2089&q=80');
    /* background-repeat: no-repeat; */
    background-size: cover;
    width: 100%;
}

h1 {
    font-size: 1.8rem;
    letter-spacing: 0.3rem;
    margin: 1rem;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Toolbar i sidebar */
.navLink {
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    font-family: 'Montserrat';
    color: black;
}

.header {
    font-size: 2rem;
    letter-spacing: 0.4rem;
    padding-left: .5rem;
    text-transform: uppercase;
}

.signInShareButtons {
    display: flex;
    position: absolute;
    top: 15px;
    right: 10px;
}

.loggedUser {
    padding-right: 50px;
    font-size: 1.25rem;
    position: relative;
    top: 7px
}

.userDiv {
    display: flex;
    justify-content: space-between;
}

/*Scores */
.scoreRow {
    padding: 0.15rem 0;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr 2fr 1fr 4fr 1fr;
}

.dateDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
}

.date {
    border: 1px solid black;
    border-radius: 0.25rem;
    box-shadow: 10px 5px gray;
    padding: 0.5rem 1rem;
}

/*Livescores and scores*/
.livescoreTable {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headerDiv {
    background-color: white;
    border-radius: 0.25rem;
    opacity: 0.85;
    margin: 1rem auto;
}

.paper {
    width: 40%;
    padding: 0.8rem;
    margin: 0.5rem auto;
    opacity: 0.85
}

.tableTop {
    margin: 1rem 0 0.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.leagueName {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    font-size: 1.2rem;
    font-weight: 700;
}

.gameRow {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr 2fr 1fr 4fr 1fr;
}

.hometeamName{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.95rem;
}

.teamLogo {
    width: 25px;
    height: auto
}

.homeLogo {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.score {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.9rem;
    text-align: center;
    font-weight: 700 ;
}

.awayLogo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.awayteamName {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.95rem;
}

/* Schedule */

.paperSchedule {
    width: 40%;
    padding: 0.8rem;
    margin: 0.5rem auto;
    opacity: 0.85
}

.scheduleTime {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8rem;
    text-align: center;
    font-weight: 700 ;
    margin: 0 1rem;
}

.scheduleRow {
    padding: 0.25rem;
    display: grid;
    grid-template-columns: 0.5fr 10fr 2fr 1fr 2fr 10fr 0.5fr;
}

.todayButton {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

/*MyTeams */
.teamCard {
    margin: 0.5rem
}

.favouriteTeamList {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: 0 1rem
} 

.lastFive {
    font-weight: 700;
    margin: 0.5rem 0;
    display: grid;
    grid-template-columns: 1.5fr repeat(4,1fr);
    text-align: center;
}

.logoFavTeam {
    display: inline;
}

.teamLogoFav {
    width: 20px;
}

/*Standings */

.paperStandings {
    width: 40%;
    padding: 1rem;
    opacity: 0.9
}

.standingsLeagueName {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
}

.standingsTableTop {
    margin-bottom: 1rem;
}

.standingsRow {
    display: grid;
    grid-template-columns: 0.5fr 1fr 2.5fr repeat(4,1fr) 1fr 1fr 1fr;
    height: 2rem;
}

.standingsCell, .standingsCellToHide, .standingsCellTeamName {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8rem;
    font-weight: 500;
}

.standingsCellTeamName {
    justify-content: flex-start;
}

.teamLogoStandings {
    width: 20px;
}

/*Sign In */

.divSignIn {
    opacity: 0.95;
    width: 450px;
}

.containerSignIn {
    padding: 1rem 0 2rem 0;
    margin: 1rem;
} 

.signInContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.paperSignIn {
    background-color: white;
    margin: 0.5rem auto;
    padding: 1rem;
    opacity: 0.9;
}

.signInButton {
    margin-bottom: 0.5rem;
}

/* Standings button */
.standingsButton {
    font-weight: 700;
    display: flex;
    align-items: center;
    font-size: 0.7rem;
}

.link{
    text-decoration: none;
    color: black;
}

/*Auth */
.paperAuth {
    width: 600px;
    padding: 0.8rem;
    margin: 0.5rem auto;
    opacity: 0.85
}

/* Responsiveness */
@media (max-width: 1500px) {
    .paper {
        width: 50%;
    }

    .hometeamName, .awayteamName {
        justify-content: center;
    }
    .paperSchedule {
        width: 55%;
    }

    .paperStandings {
        width: 60%
    }

    .favouriteTeamList {
        grid-template-columns: repeat(4, 1fr);
    } 
}

@media (max-width: 1100px) {
    .paper {
        width: 55%
    }
    .paperSchedule {
        width: 65%;
    }

    .paperStandings {
        width: 65%
    }

    .favouriteTeamList {
        grid-template-columns: repeat(3, 1fr);
    } 

}

@media (max-width: 959px) {
    .paper{
        width: 80%;
        margin: 0 auto
    }

    .paperSchedule {
        width: 85%;
    }

    .paperStandings {
        width: 80%
    }

    .hometeamName, .awayteamName {
        font-size: 0.85rem;
    }
    
    .standingsLeagueName {
        font-size: 1.2rem;
    }

    .loggedUser {
        padding-right: 30px;
    }

    .headerTeams{
        font-size: 1.4rem;
    }

    .favouriteTeamList {
        grid-template-columns: repeat(3, 1fr);
    } 

    .paperAuth {
        width: 80%;
    }
}

@media (max-width: 800px) {
    .favouriteTeamList {
        grid-template-columns: repeat(2, 1fr);
    } 
}

@media (max-width: 568px) {
    h1 {
        font-size: 1.25rem;
        letter-spacing: 0;
        margin: 0.2rem;
    }

    .gameRow, .scoreRow, .scheduleRow { 
        grid-template-columns: 0.5fr 6fr 4fr 6fr 0.5fr;
    }

    .paperStandings {
        width: 85%
    }

    .standingsRow {
        grid-template-columns: 0.5fr 1.5fr 4fr 1fr 2fr repeat(2,1fr);
    }

    .teamLogoStandings {
        width: 20px;
    }

    .standingsCellToHide {
        display: none;
    }

    .standingsCell, .standingsCellTeamName{
        font-size: 0.7rem;
        font-weight: normal;
    }

    .leagueName {
        font-size: 0.85rem;
    }

    .hometeamName, .awayteamName {
        display: none;
    }

    .homeLogo, .awayLogo {
        justify-content: center;
    }

    .standingsLogoText {
        display: none
    }

    .date {
        font-size: 1rem;
        padding: 0.5rem;
        box-shadow: 4px 2px gray; 
    }

    .loggedUser {
        display: none;
    }

    .loginHeader {
        font-size: 1.8rem;
    }

    .divSignIn {
        width: 80%;
    }

    .paperSignIn {
        padding: 1rem 0;
    }
    
    .headerTeams{
        font-size: 1.2rem;
    }

    .favouriteTeamList {
        grid-template-columns: repeat(1, 1fr);
        margin: 0 2rem
    } 

    .teamLogo {
        width: 35px
    }


}

@media (max-width: 350px) {
    .livescoreApp {
        font-size: 0.85rem;
    }

    .favouriteTeamList {
        margin: 0 1rem
    } 

    .lastFive {
        grid-template-columns: repeat(4,1fr)
    }

    .eventDate {
        display: none;
    }

    .teamLogo {
        width: 25px
    }

    .standingsCellTeamName {
        display: none;
    }

    .standingsRow {
        grid-template-columns: 1fr 2fr 1fr 2fr repeat(2,1fr);
    }

    .standingsLeagueName {
        padding-top: 1rem
    }
}































