/* Całość projektu */
:root{
    background-image: url('https://images.unsplash.com/photo-1544914379-806667cd9489?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2089&q=80');
    background-size: cover;
    width: 100%;

}

h1 {
    font-size: 1.8rem;
    letter-spacing: 0.3rem;
    margin: 1rem;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Toolbar i sidebar */
.navLink {
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    font-family: 'Montserrat';
    color: black;
}

.header {
    font-size: 2rem;
    letter-spacing: 0.4rem;
    padding-left: .5rem;
    text-transform: uppercase;
}

.signInShareButtons {
    display: flex;
    position: absolute;
    top: 15px;
    right: 10px;
}
.loggedUser {
    padding-right: 50px;
    font-size: 1.25rem;
    position: relative;
    top: 7px
}

.userDiv {
    display: flex;
    justify-content: space-between;
}

/*Scores */
.scoreRow {
    padding: 0.15rem 0;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr 2fr 1fr 4fr 1fr;
}

.dateDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
}

.date {
    border: 1px solid black;
    border-radius: 0.25rem;
    box-shadow: 10px 5px gray;
    padding: 0.5rem 1rem;
}

/*Livescores and scores*/
.livescoreTable {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headerDiv {
    background-color: white;
    border-radius: 0.25rem;
    opacity: 0.85;
    margin: 1rem auto;
}

.paper {
    width: 40%;
    padding: 0.8rem;
    margin: 0.5rem auto;
    opacity: 0.85
}

.tableTop {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.leagueName {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    font-size: 1.2rem;
    font-weight: 700;
}

.gameRow {
    padding: 0.15rem 0;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr 2fr 1fr 4fr 1fr;
}

.hometeamName{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.95rem;
}

.teamLogo {
    width: 30px;
    height: auto
}

.homeLogo {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.score {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.9rem;
    text-align: center;
    font-weight: 700 ;
}

.awayLogo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.awayteamName{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.95rem;
}

/* Schedule */

.paperSchedule {
    width: 40%;
    padding: 0.8rem;
    margin: 0.5rem auto;
    opacity: 0.85
}

.scheduleTime {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8rem;
    text-align: center;
    font-weight: 700 ;
    margin: 0 1rem;
}

.scheduleRow {
    padding: 0.25rem;
    display: grid;
    grid-template-columns: 0.5fr 10fr 1fr 1fr 1fr 10fr 0.5fr;
}

.todayButton {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

/*MyTeams */

.teamCard {
    margin: 1rem
}

.favouriteTeamList {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 0 1rem
} 

.lastFive {
    font-weight: 700;
    display: flex;
    justify-content: space-between;
}

/*Standings */

.paperStandings {
    width: 50%;
    padding: 1rem;
    opacity: 0.9
}

.standingsLeagueName {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
}

.standingsTableTop {
    margin-bottom: 1rem;
}

.standingsCell{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.9rem;
    font-weight: 500;
}

/*Sign In */

.divSignIn {
    opacity: 0.95;
}

.containerSignIn {
    padding: 1rem 0 3rem 0;
    margin: 1rem;
} 

.signInContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.paperSignIn {
    margin: 0.5rem;
    padding: 1rem 6rem ;
    opacity: 0.9;
}

/* Standings button */
.standingsButton {
    font-weight: 700;
    display: flex;
    align-items: center;
}

/* Responsiveness */
@media (max-width: 1500px) {
    .hometeamName, .awayteamName {
        justify-content: center;
    }
    .paperSchedule {
        width: 55%;
    }
}

@media (max-width: 1100px) {
    .paper {
        width: 55%
    }
    .paperSchedule {
        width: 65%;
    }
}

@media (max-width: 850px) {
    .paper{
        width: 80%;
        margin: 0 auto
    }
    .paperSchedule {
        width: 85%;
    }

    .hometeamName, .awayteamName {
        font-size: 0.8rem;
    }
}

@media (max-width: 568px) {
    .gameRow, .scoreRow, .scheduleRow { 
        grid-template-columns: 0.5fr 6fr 4fr 6fr 0.5fr;
    }

    .leagueName {
        font-size: 0.85rem;
    }

    .hometeamName, .awayteamName {
        display: none;
    }

    .homeLogo, .awayLogo {
        justify-content: center;
    }

    .standingsLogoText {
        display: none
    }

    .date {
        font-size: 1rem;
        padding: 0.5rem;
        box-shadow: 4px 2px gray; 
    }

    .todayButton {
        font-size: 0.5rem;
    }

}































