:root{
    background-image: url('https://images.unsplash.com/photo-1544914379-806667cd9489?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2089&q=80');
    width: 100%;
}

h1 {
    font-size: 2.5rem;
    letter-spacing: 0.3rem;
    margin: 2rem;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.headerDiv {
    background-color: white;
    width: 50%;
    opacity: 0.85;
    margin: 1rem auto;
}

.toolbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.navLink {
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    font-family: 'Montserrat';
    color: black;
}

.header {
    font-size: 2rem;
    letter-spacing: 0.4rem;
    padding-left: .5rem;
    text-transform: uppercase;
}

.signInShareButtons {
    display: flex;
    position: absolute;
    top: 15px;
    right: 10px;
}

.loggedUser {
    padding-right: 50px;
    font-size: 1.25rem;
    position: relative;
    top: 7px
}

.userDiv {
    display: flex;
    justify-content: space-between;
}

.teamLogo {
    width: 35px;
    height: 35px
}

.livescoreTable {
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.score {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 1.2rem;
}

.teamName{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 1.2rem;
}


.leagueName {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    font-size: 1.5rem;
    font-weight: 700;
}

.heart {
    cursor: pointer;
}

.paper {
    width: 60%;
    padding: 1rem 2rem;
    margin: 0.5rem 0;
    opacity: 0.85
}

.divSignIn {
    opacity: 0.95;
}

.containerSignIn {
    padding: 1rem 0 3rem 0;
    margin: 1rem;

} 

.signInContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.paperSignIn {
    margin: 0.5rem;
    padding: 1rem 6rem ;
    opacity: 0.9;
}

.teamCard {
    margin: 1rem
}

.favouriteTeamList {
    display: grid;
    grid-template-columns:  repeat(6, 1fr);
    padding: 0 1rem
}